INPUT_GITHUB_TOKEN=test-token
INPUT_GITHUB_APP_ID=test-app-id
INPUT_GITHUB_PRIVATE_KEY=test-private-key
INPUT_GITHUB_INSTALLATION_ID=test-installation-id
INPUT_GITHUB_API_URL=https://api.github.com
INPUT_GITHUB_REPOSITORY=owner/repo
INPUT_GITHUB_RELEASE_TAG=refs/tags/v1.0.0